@keyframes bgScroll {
    from {
        background-position-x: 256px;
        background-position-y: 128px;
    }
    to {
        background-position-x: 0px;
        background-position-y: 0px;
    }
}

@keyframes cardFadeOut {
    from { outline-color: rgba(221, 121, 188, 1.0); }
    to { outline-color: rgba(221, 121, 188, 0.0); }
}

@keyframes cardFadeIn {
    from { outline-color: rgba(221, 121, 188, 0.0); }
    to { outline-color: rgba(221, 121, 188, 1.0); }
}

body {
    background-color: rgb(35, 0, 35);
    background-image: url("assets/bg.png");
    background-repeat: repeat;
    
    animation-duration: 32s;
    animation-name: bgScroll;
    animation-timing-function: linear;

    animation-iteration-count: infinite;
    animation-direction: normal;

    color: rgb(216, 210, 210);
    text-align: center;

    font-family: 'Cairo';
    font-weight: 700;
}

#mediaLinks {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.icon {
    width: 64px;
    padding: 16px;
}

.bg {
    background-color: rgba(0, 0, 0, 0.377);
    border-radius: 24px 24px 24px 24px;

    padding: 10px;
    margin: auto;
    line-height: 32px;
}

.centeredDiv {
    padding-top: 8px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#projectShowcase {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1152px;
    gap: 8px;
}

.hoverAnim {
    outline-style: solid;
    outline-width: 4px;
    outline-color: rgb(255, 117, 209, 0.0);

    animation: 0.2s 1 normal cardFadeOut;
    animation-timing-function: linear;
}

.hoverAnim:hover {
    outline-color: rgb(221, 121, 188);
    animation-name: cardFadeIn;
}

.card {
    width: 320px;
    padding: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.377);
    border-radius: 24px 24px 24px 24px;
    justify-content: center;
}

.showcase {
    height: 180px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 24px 24px 24px 24px;
}

.details {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
}

.cardTxt {
    text-align: left;
    padding: 4px;
}

h1 {
    font-size: 48px;
    line-height: 8px;
}

large {
    font-size: 32px;
}

medium {
    font-size: 24px;

}

small {
    font-size: 20px;
}

a {
    color: inherit;
    text-decoration: inherit;
    position: inherit;
    margin: inherit;
    padding: inherit;
    width: fit-content;
    height: fit-content;
}

#pfp {
    border-radius: 100%;
    outline-style: solid;
    outline-width: 4px;
    outline-color: rgb(252, 71, 228);

    cursor: pointer;
}

.footerLinks {
    text-decoration: underline;
    cursor: pointer;
}

#aboutMenu  {
    display: flex;
    flex-direction: column;
}