.pdf {
    width: 800px;
    height: 800px;

    max-width: 100%;
    max-height: 100%;
}

.border {
    border-radius: 8px 8px 8px 8px;
    border-style: solid;

    border-color: rgb(255, 117, 209);
}

.pdfBox {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
}

.footer {
    margin: auto;
}

.label {
    background-color: rgba(0,0,0, 0.35);
    padding: 8px;
    width: fit-content;
    
    border-radius: 12px 12px 12px 12px;
    margin: auto;
}